<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- name = Имя, которое используется для ссылки на данный раздел в файле настройки.
        type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика 
        наших данных + имя самого обработчика, наименование сборки, где данный класс располагается.-->
    <section name="StartupSettings" type="FilesUpdater.Infrastructure.StartupSettings, FilesUpdater"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <!-- 
      handleInternalDirectories - Флаг обработки вложенных директорий
      executeScript - Флаг запуска скрипта на удаленном хосте
      executeScriptParams - Текст запускаемого скрипта
      executeScriptTimeout - Задержка (мсек) выполнения операций, после завершения выполнения скрипта
      fileSearchMask - Маска поиска файлов в директории источника
      sourcePathName - Вложенная директория с исходными файлами относительно директории с программой
      remouteHostDestinationPath - Часть сетевого пути на удаленном хосте
      remouteHostSourceFileName - Имя файла с перечнем удаленных хостов
      hostErrorsFileName - Имя лог файла со списком хостов по которым обнаружены ошибки при обработке
      logFileName - Имя лог файла
      
      remouteHostDestinationPath="C$\IntSys\Bin\"
  -->
  <StartupSettings
      handleInternalDirectories="true"
      executeScript="true"
      executeScriptParams="taskkill /s [HostName] /f /im [ProcessName]"
      executeScriptTimeout ="500"
      fileSearchMask="*.*"
      sourcePathName="Update"
      remouteHostDestinationPath="C$\IntSys\Bin\"
      remouteHostSourceFileName="hosts.txt"
      hostErrorsFileName="HostError.txt"
      logFileName="Log.txt" />

</configuration>
